/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/vendor
/resources/views/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.example
composer.lock
package-lock.json
.tags
.tags_sorted_by_file
_ide_helper.php
.phpintel
.DS_Store
.env