.profile-user-info {
    display: table;
    //width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto;
}
.profile-info-row {
    display: table-row;
}
.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;

    font-weight: normal;
    color: #667E99;
    background-color: transparent;

    border-top: 1px dotted #D5E4F1;
    
    display: table-cell;
    //width: 110px;
    vertical-align: middle;
}
.profile-info-value {
    display: table-cell;

    padding: 6px 4px 6px 6px;
    margin-left: 110px;
    border-top: 1px dotted #D5E4F1;
    
    > span  + span:before{/* for a list of values (such as location city & country) put a comma between them */
        display:inline;
        content:",";
        margin-left:1px;
        margin-right:3px;
        color:#666;
        border-bottom:1px solid #FFF;
    }
    > span  + span.editable-container:before {
        display:none;
    }
}

.profile-info-row {
    &:first-child .profile-info-name {
        border-top:none;
    }
    &:first-child .profile-info-value {
        border-top:none;
    }
}

.profile-user-info-striped {
    border: 1px solid #DCEBF7;

    .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-value {
        border-top: 1px dotted #DCEBF7;
        padding-left: 12px;
    }
}